<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns" [style.width]="col.width">
          {{ col.header }}
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!loading; else loadingTpl">
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <span *ngSwitchCase="'date'">{{
              row[col.field] | date: "dd/MM/yyyy"
            }}</span>
            <!-- <span *ngSwitchCase="'text'">{{ row[col.field] }}</span> -->
            <span *ngSwitchDefault>{{ row[col.field] }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #loadingTpl>
    <tr>
      <td [attr.colspan]="columns.length">Loading...</td>
    </tr>
  </ng-template>

  <div
    *ngIf="showPagination"
    class="pagination mt-4 flex items-center justify-center gap-2"
  >
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="rounded bg-gray-200 px-3 py-1"
    >
      Trước
    </button>
    <ng-container *ngIf="totalPages > 1">
      <button
        *ngFor="let page of visiblePages; let i = index"
        (click)="goToPage(page)"
        [class.bg-red-500]="currentPage === page"
        [class.text-white]="currentPage === page"
        class="mx-1 h-8 w-8 rounded bg-gray-200"
      >
        {{ page }}
      </button>
      <ng-container *ngIf="visiblePages.length > 0">
        <span
          *ngIf="visiblePages.length > 1 && visiblePages[1] > 2"
          class="mx-1"
          >...</span
        >
        <span
          *ngIf="
            visiblePages.length > 2 &&
            visiblePages[visiblePages.length - 2] < totalPages - 1
          "
          class="mx-1"
          >...</span
        >
      </ng-container>
    </ng-container>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="rounded bg-gray-200 px-3 py-1"
    >
      Sau
    </button>
  </div>
</div>
