.main-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 20%;
  color: white;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  color: #574bf5;
  font-size: 4.43438rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #574bf5;
  margin-bottom: 2rem;
}

.content {
  flex: 1;
  // padding: 24px;
}
