<div
  class="login-container flex min-h-screen w-full items-center justify-between bg-[#0F0F0F] md:ps-[10rem] md:pe-[20%]"
>
  <div class="circle-entity absolute h-[20rem] w-[20rem] rounded-full"></div>
  <div
    class="circle-entity-small absolute h-[15rem] w-[15rem] rounded-full"
  ></div>
  <div class="left-content h-full w-[50%] flex-col items-center justify-start">
    <p class="left-header">Chào mừng đến với !!</p>
    <p class="left-sub">Ký túc xá Học Viện</p>
  </div>
  <ng-content></ng-content>
</div>
