@import "tailwindcss";

html {
  font-size: 10px;
}

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-primary: #574bf5;
  --color-secondary: #d7d9fc;
  --color-bg: #f7f6fb;
  --color-active: #63B797;
  --color-inactive: #F74B4B;
}
